<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
	<header>
        <h1>TuneHub - Your Music Hub</h1>
    </header>
	<div>
		 <p>Welcome to TuneHub, your one-stop destination for music!</p>
         <p>Explore a world of songs and create your personalized playlists.</p>
         <p>Already a member?</p>
		 <a href="login">LOGIN</a>
		 <p>New here?</p>
		 <a href="registration">REGISTRATON</a>
	</div>
	
</body>
</html>